/******************************************************
 * bslib Card & Grid Styling
 *
 * Purpose:
 * - Unified card appearance and spacing
 * - Stable layout with natural content height
 * - Clear typographic hierarchy in cards
 *
 * Notes:
 * - Styles apply only to bslib cards and grids
 * - Paragraph rules are scoped to card bodies
 * - Shiny text outputs (`div`) are not affected
 ******************************************************/

/* ---------------------------------
 * Card Container (.bslib-card)
 * --------------------------------- */
.bslib-card {
  background-color: $bg-color-light;
  padding: 16px 24px 16px 24px;
  height: auto;
  overflow: hidden;
}

/* ---------------------------------
 * Grid Layout (.bslib-grid)
 * --------------------------------- */
.bslib-grid {
    gap: 3rem !important;
}

/* ---------------------------------
 * Card Header (.card-header)
 * --------------------------------- */
.card-header {
  font-size: 1.5rem;
  font-family: $title-font;
  line-height: 1.3;
  margin-bottom: 8px;
}

/* ---------------------------------
 * Card Body (.bslib-card-body)
 * --------------------------------- */
.bslib-card-body {
  line-height: 1;
  padding-top: 10px;
}

.bslib-card .card-body p {
  font-size: 1.125rem;
  font-family: $medium-font;
  color: $black;
  line-height: 1.5;
}
