/* Apply a uniform top margin for all cards */
.bslib-card {
  margin-top: 20px;  /* Same top margin for all cards */
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
}

.bslib-grid {
  gap: 2rem;
}

.bslib-card-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;
}

.bslib-card-body {
  line-height: 1;
  padding-top: 10px;
}

.bslib-card .card-body p {
  margin-top: 0;
  font-size: 1.25rem;
}
