/* Media Queries */
@media screen and (max-width: 768px) {
  p {
    font-size: 1rem;
    margin: 0px 0px 8px;
  }
  ol {
    font-size: 14px;
    line-height: 23px;
  }
  h1 {
    font-size: 1.5rem;
    margin: 0px 0px 20px;
  }
  h2 {
    font-size: 1.25rem;
    margin: 16px 0px 4px;
  }
  h3 {
    font-size: 1.125rem;
    margin: 8px 0px 4px;
  }
  h4 {
    font-size: 1rem;
    margin: 8px 0px 4px;
  }
  hr {
    margin-top: 12px;
    margin-bottom: 16px;
  }
}

/* bslib specific */
/* For screens 768px and larger (tablets and above) */
@media (min-width: 768px) {
  .bslib-card {
    width: 100%;
    margin-top: 20px;  /* Keep consistent top margin for larger screens */
  }
}


/* For screens between 481px and 768px (larger phones and small tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  .bslib-card {
    padding-left: 15px;
    padding-right: 15px;
  }

  .bslib-grid {
    row-gap: 0rem;
  }
}

/* For screens 480px or smaller (small phones) */
@media (max-width: 480px) {
  .bslib-card {
    padding-left: 15px;
    padding-right: 15px;
  }

  .bslib-grid {
    row-gap: 0rem;
  }
}

