/* Media Queries */
  @media screen and (max-width: 768px) {
    p {
      font-size: 14px;
      line-height: 23px;
    }
    ol {
      font-size: 14px;
      line-height: 23px;
    }
    h1 {
      font-size: 20px;
      line-height: 28px;
    }
    h2 {
      font-size: 18px;
      line-height: 25px;
    }
    h3 {
      font-size: 14px;
      line-height: 23px;
    }
    h4 {
      font-size: 12px;
      line-height: 18px;
    }
    hr {
      margin-top: 12px;
      margin-bottom: 16px;
    }
  }

@media screen and (max-width: 600px) {
  p {
    font-size: 14px;
    line-height: 23px;
  }
  ol {
    font-size: 14px;
    line-height: 23px;
  }
  h1 {
    font-size: 18px;
    line-height: 25px;
  }
  h2 {
    font-size: 16px;
    line-height: 22px;
  }
  h3 {
    font-size: 14px;
    line-height: 23px;
  }
  h4 {
    font-size: 12px;
    line-height: 18px;
  }
  hr {
    margin-top: 12px;
    margin-bottom: 16px;
  }
}

/* bslib specific */
/* For screens 768px and larger (tablets and above) */
@media (min-width: 768px) {
  .bslib-card {
    width: 100%;
    margin-top: 20px;  /* Keep consistent top margin for larger screens */
  }
}


/* For screens between 481px and 768px (larger phones and small tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  .bslib-card {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;  /* Adjust top margin for medium devices */
  }

  .bslib-grid {
    row-gap: 0rem;
  }
}

/* For screens 480px or smaller (small phones) */
@media (max-width: 480px) {
  .bslib-card {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;  /* Adjust top margin for small devices */
  }

  .bslib-grid {
    row-gap: 0rem;
  }
}

