// colors
$zueriblau: #0F05A0;
$dark-blue: #070250;
$light-blue: #0353DC;

$secondary-blue: #88CFFF;
$secondary-dark-blue: #46b2ff;
$hover-border-blue: #0a8df6;
$focus-background-blue: #c5e7ff;
$chip-blue: #eff5ff;
$hover-chip-blue: #C5DBFF;

$black: #000000;
$h3-color-grey: #4D4D4D;
$text-color: #646464;
$deep-grey: #545454;
$border-grey: #7c7c7c;
$bg-color-light: #f4f4f4;
$selected-grey: #E8E8E8;

// fonts
$title-font: HelveticaNeueLTW05_85Heavy;
$main-font: HelveticaNeueLTW01_55Roman;
$medium-font: HelveticaNeueLTW05_65Medium;

// font sizes todo
$button-font-size: 18px;
$base-font-size: 16px;

// radio sizes
$radio-size: 24px;
$radio-dot-size: 16px;





