// colors
$zueriblau: #0F05A0;
$dark-blue: #070250;
$h3-color-grey: #4D4D4D;
$text-color: #646464;
$deep-grey: #545454;
$bg-color-light: #F2F2F2;

// fonts
$title-font: HelveticaNeueLTW05_85Heavy;
$main-font: HelveticaNeueLTW01_55Roman;

// sizes todo?!

