/* Div around Radio Buttons */
.radioDiv {
  margin-top: 18px;
}

/* SZZ Radio Button */
.sszRadioButton {
  margin-top: 10px;
}

.sszRadioButton-label {
  font-family: $title-font;
  color: $zueriblau;
  margin: 0px 0px 6px;
  font-size: 0.875rem;
}

.radio {
  position: relative;
  display: block;
  margin-top: 1em;
  margin-bottom: 1.5em;

  span {
    margin-left: 14px;
  }

  label {
    font-family: $medium-font;
    font-weight: 500;
    color: $black;
    display: flex;
    align-items: center;
  }

  /* Radio Buttons Input */
  input[type="radio"] {
    appearance: none;
    outline: none;          // remove default outline
    -webkit-appearance: none; // Safari
    -moz-appearance: none;    // Firefox
    display: grid;
    place-content: center;
    margin-top: 0px;

    width: $radio-size;
    height: $radio-size;
    border: 2px solid $black;
    border-radius: 50%;
    background-color: white;

    &::before {
      content: "";
      width: $radio-dot-size;
      height: $radio-dot-size;
      border-radius: 50%;
      background-color: $dark-blue;
      transform: scale(0);
    }

    /* Checked / Selected */
    &:checked {
      border-color: $zueriblau;

      &::before {
        transform: scale(1);
        background-color: $zueriblau;
      }

      + span {
        color: $zueriblau;
      }

      &:hover {
        border-color: $dark-blue;

        &::before {
          background-color: $dark-blue;
        }

        + span {
          color: $dark-blue;
        }
      }
    }

    /* Hover on not checked */
    &:not(:checked):hover {
      border-color: $zueriblau;

      &::before {
        background-color: $zueriblau;
      }

      + span {
        color: $zueriblau;
      }
    }

    /* Active state */
    &:active {
      border-color: $zueriblau;
    }

    /* Keyboard focus */
    &:focus-visible {
      outline: none;
    }
  }
}
