/*******************************
* Select Input
*******************************/

/* Input */
.selectize {
  border-color: $text-color;
  outline: 0;
  border-radius: 2px;
  box-shadow: none;
  font-family: $main-font;
  font-size: 14px;
  line-height: 26px;
  padding: 6px 16px 6px 16px;

  &:hover {
    background-color: $bg-color-light;
    color: $dark-blue;
    transition: 0.5s;
  }
}

.selectize-control {
  margin-bottom: 0;
}

.selectize-dropdown {
  z-index: 100;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
}

.selectize-dropdown-content {
  background: white;
  color: $text-color;
  font-family: $main-font;
}

.selectize-input.full{
  border-color: $text-color;
  outline: 0;
  border-radius: 2px;
  box-shadow: none;
  font-family: $main-font;
  font-size: 14px;
  line-height: 26px;
  padding: 6px 16px 6px 16px;
  height: 40px;

  &:hover {
    background-color: white;
    color:  $dark-blue;
    border-color: $dark-blue;
    //padding: 6px 16px 6px 16px;
    transition: 0.5s;
  }

  &:focus {
    color: $dark-blue;
    //box-shadow: none;
    border-color: $dark-blue;
    //padding: 6px 16px 6px 16px;
    transition: 0.5s;
  }

}

.selectize-input.focus {
   padding-left: 9px;
   padding-right: 9px;
   border-color: $text-color;
   outline: 0;
   border-radius: 2px;
   box-shadow: none;
   font-family: $main-font;
   line-height: 26px;
   font-size: 14px;
   padding: 6px 16px 6px 16px;
   height: 40px;
}

.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
   padding: 9px 20px;
}

.selectize-dropdown .selected {
    background-color: white;
    color: #262626;
}

.selectize-dropdown .selected:hover {
    background-color: #f5f5f5;
    color: #262626;
}


/* Selectize Multiple */
.selectize-control.multi .selectize-input.has-items {
    padding-left: 9px;
    padding-right: 9px;
    border-color: $text-color;
    outline: 0;
    border-radius: 2px;
    box-shadow: none;
    font-family: $main-font;
    line-height: 26px;
    font-size: 14px;
    padding: 6px 16px 6px 16px;
    height: 40px;
}

.selectize-control.multi .selectize-input.has-items .item {
    background-color: $bg-color-light;
    color: $zueriblau;
    font-size: 12px;
    position: relative;
    z-index: 100;
    padding: 0px 12px 0px 12px;
    border-radius: 12px;
    margin-top: 2px;
}

.selectize-control.multi .selectize-input.has-items .item:hover {
    background-color: rgba(15, 5, 160, 0.16);
    border: rgba(15, 5, 160, 0.16);
    color: $dark-blue;
    transition: 0.5s;
}
