/********************************
* SSZ Shiny css
*******************************/



/*******************************
* Link
*******************************/

a:focus {
  color: $zueriblau;
}

a:hover {
  transition: 0.5s;
}

/*******************************
* Info Div
*******************************/

.infoDiv {
  margin-top: 40px;
  padding: 20px;
  background-color: $bg-color-light;
}


