.tooltip-container {
    font-size: 0.875rem;
    font-family: $medium-font, sans-serif;
    background-color: rgba(255, 255, 255, 1);
    min-width: 60px;
    padding: 12px 12px 7px 12px;
    border-radius: 5px;
    border: none;
}

.tooltip-title {
    font-family: $title-font;
    margin-bottom: 5px;
}

.tooltip-container hr {
    border: none;
    border-top: 1px solid $border-grey;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tooltip-content {
    display: flex;
    flex-direction: column;
}

.tooltip-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
