.tooltip-container {
    font-size: 1.24rem;
    font-family: $main-font, sans-serif;
    color: $deep-grey;
    background-color: rgba(255, 255, 255, 1);
    min-width: 60px;
    max-width: 270px;
    padding: 12px 12px 7px 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border: none;
}

.tooltip-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.tooltip-container hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tooltip-content {
    display: flex;
    flex-direction: column;
}

.tooltip-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
