# use template for gitlab pipeline to push main to github
include:
  # use template for all stages
  - project: "OE-7035/ssz-da/templates/pipeline-templates"
    ref: "feature-r-version"
    file: "stages.yml"
  - project: "OE-7035/ssz-da/templates/pipeline-templates"
    ref: "feature-r-version"
    file: "publish-to-github.yml"
  # use template for gitlab pipeline to check and build
  - project: "OE-7035/ssz-da/templates/pipeline-templates"
    ref: "feature-r-version"
    file: "r-check-and-build-packages.yml"

# run tests separately: here none of the tests are skipped (unlike in the R CMD check)
r-testthat-test:
  extends:
    - .r-testthat-test

r-pkgdown-build-no-commit:
  extends: ".r-pkgdown-build-no-commit"

r-devtools-check:
  extends:
    - .r-devtools-check

publish-main-to-github:
  extends:
    - .publish-main-to-github
